.annotation {
	font-size: smaller;
}

.profileImage {
	border-radius: 50%;
	border-color: black;
	border-width: 1px;
	border-style: solid;
}

.profile {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.QuestionId {
  max-width: 1000px;
  margin: 0 auto;
  > .title {
    display: flex;
    align-items: baseline;
    > h1 {}
    > .name {
      margin-left: 20px;
      font-size: 22px;
      color: grey;
    }
  }

  > .description {}

  > .answers {
    margin-bottom: 40px;
    > p {
      padding: 10px;
      border: 1px solid grey;
      background: white;
      border-radius: 5px;
      margin-bottom: 10px;
    }
  }

  > form {
    > textarea {
      display: block;
      width: 100%;
    }

    > button {
      padding: 10px 20px;
      border: none;
      background: black;
      color: white;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 20px;
    }
  }
}